---
import "/src/input.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Intro from "../layouts/Intro.astro";
import Main from "../layouts/Main.astro";
import Pricing from "../layouts/Pricing.astro";
import logo from "/assets/images/svg/logo.svg?url";
export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en" class="bg-black">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href={logo} />
  <meta name="generator" content={Astro.generator} />
  <title>Sirius</title>

  <body class="overflow-x-hidden">
    <Navbar />
    <Intro />
    <!-- <Main />
    <Pricing />
    <Footer /> -->

    <script>
      const elements = document.querySelectorAll("[class*='text-[']") as NodeListOf<HTMLElement>;
      elements.forEach((element) => {
        const fontSize = element.className.match(/text-\[(.*?)\]/)[1];
        if (parseInt(fontSize) <= 25.333333333333332) {
          element.classList.add("font-sftext");
          console.log(element);
        } else if (parseInt(fontSize) >= 26.666666666666664) {
          element.classList.add("font-sfdisplay");
          console.log(element);
        }
      });
    </script>
  </body>
</html>
