---
import Headers from "../layouts/Headers.astro";
import Navbar from "../components/Navbar.astro";
import Intro from "../components/Intro.astro";
import GradientIntro from "../components/GradientIntro.astro";
import Interface from "../components/Interface.astro";
import ScriptSearch from "../components/ScriptSearch.astro";
import Automatic from "../components/Automatic.astro";
import UndeniablyPro from "../components/UndeniablyPro.astro";
import SmartDesign from "../components/SmartDesign.astro";
import Peace from "../components/Peace.astro";
import Pricing from "../components/Pricing.astro";
import Footer from "../components/Footer.astro";
export interface Props {
  title: string;
}
---

<html lang="en" class="hide-scroll-bar bg-black">
  <Headers title="Sirius" description="Discover the most powerful script, with no boundaries and no compromises. With a range of features and a sleek interface, it's no surprise it's the leader in scripts." image="/assets/images/png/embedBanner.png" />
  <body class="overflow-x-hidden">
    <Navbar />
    <Intro />
    <GradientIntro />
    <Interface />
    <ScriptSearch />
    <Automatic />
    <UndeniablyPro />
    <SmartDesign />
    <Peace />
    <Pricing />
    <Footer />

    <script>
      // Refresh page on width resize so that on mobile when the browser hide's it's bottom bar, the page will not refresh
      let width = window.innerWidth;
      window.addEventListener("resize", () => {
        if (window.innerWidth !== width) {
          window.location.reload();
        }
      });

      document.addEventListener("DOMContentLoaded", function () {
        let lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

        if ("IntersectionObserver" in window) {
          let lazyVideoObserver = new IntersectionObserver(function (entries, observer) {
            entries.forEach(function (video: any) {
              if (video.isIntersecting) {
                for (let source in video.target.children) {
                  let videoSource = video.target.children[source] as HTMLSourceElement;
                  if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
                    videoSource.src = videoSource.dataset.src;
                  }
                }

                video.target.load();
                video.target.classList.remove("lazy");
                lazyVideoObserver.unobserve(video.target);
              }
            });
          });

          lazyVideos.forEach(function (lazyVideo) {
            lazyVideoObserver.observe(lazyVideo);
          });
        }
      });

      const elements = document.querySelectorAll("[class*='text-[']") as NodeListOf<HTMLElement>;
      elements.forEach((element) => {
        const fontSize = element.className.match(/text-\[(.*?)\]/)[1];
        if (parseInt(fontSize) <= 25.333333333333332) {
          element.classList.add("font-sftext");
        } else if (parseInt(fontSize) >= 26.666666666666664) {
          element.classList.add("font-sfdisplay");
        }
      });
    </script>
    <script src="../gsap"></script>
  </body>
</html>
