---
import "/src/input.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Intro from "../layouts/Intro.astro";
import Main from "../layouts/Main.astro";
import Pricing from "../layouts/Pricing.astro";
import logo from "/assets/images/svg/logo.svg?url";
export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en" class="bg-black">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href={logo} />
  <meta name="generator" content={Astro.generator} />

  <!-- Primary Meta Tags -->
  <title>Sirius</title>
  <meta name="title" content="Sirius" />
  <meta name="description" content="The most advanced script hub ever!" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://sirius.menu/" />
  <meta property="og:title" content="Sirius" />
  <meta property="og:description" content="The most advanced script hub ever!" />
  <meta property="og:image" content="/assets/images/png/banner.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://sirius.menu/" />
  <meta property="twitter:title" content="Sirius" />
  <meta property="twitter:description" content="The most advanced script hub ever!" />
  <meta property="twitter:image" content="/assets/images/png/banner.png" />

  <body class="overflow-x-hidden">
    <Navbar />
    <Intro />
    <Main />
    <Pricing />
    <Footer />

    <script>
      const elements = document.querySelectorAll("[class*='text-[']") as NodeListOf<HTMLElement>;
      elements.forEach((element) => {
        const fontSize = element.className.match(/text-\[(.*?)\]/)[1];
        if (parseInt(fontSize) <= 25.333333333333332) {
          element.classList.add("font-sftext");
        } else if (parseInt(fontSize) >= 26.666666666666664) {
          element.classList.add("font-sfdisplay");
        }
      });
    </script>
  </body>
</html>
