<html>
  <body style="word-wrap: break-word; white-space: pre-wrap; tab-size: 4; font-family: monospace;">
    <script>
      fetch("https://raw.githubusercontent.com/shlexware/Sirius/request/library/sense/source.lua")
        .then((response) => response.text())
        .then((text) => (document.body.innerHTML = text));
    </script>
  </body>
</html>
