<section id="automaticSection" class="h-full overflow-hidden">
  <div class="mx-auto flex flex-col px-5 py-2 lg:flex-row-reverse lg:px-32 lg:pt-24">
    <div class="flex flex-col items-end justify-center p-4 lg:flex-grow">
      <h3 class="mb-4 !max-w-3xl text-right text-3xl font-semibold text-white md:text-5xl lg:text-6xl">Automatic finding of scripts, for the game you're playing</h3>
      <p class="text-desc text-right">Using our Game Detection Engine, Sirius will instantly recommend you the best script possible to use in that certain game.</p>
    </div>
    <div class="lg:flex-shrink">
      <img class="h-full w-full rounded object-contain" src="/assets/images/png/interface/DetectionEngine.png" alt="Automatic Script Finding" />
    </div>
  </div>
  <div class="mx-auto flex flex-col px-5 py-28 md:pt-0 lg:flex-row lg:!py-96 lg:px-32">
    <div class="flex flex-col items-start justify-center p-4 lg:max-w-3xl">
      <h3 class="mb-4 text-left text-3xl font-semibold text-white md:text-5xl lg:text-6xl">It. Just. Works.</h3>
      <p class="text-desc text-left">Nothing we create is an afterthought. Every feature is designed to work in harmony with each other.</p>
    </div>
  </div>
</section>
