<section id="interfaceSection" class="h-screen overflow-hidden">
  <div class="mx-auto mt-28 flex h-full flex-col px-5 lg:flex-row lg:px-32 lg:pt-24">
    <div class="flex flex-col items-start justify-center py-4 lg:max-w-md">
      <h2 class="mb-4 text-left text-3xl font-semibold text-white md:text-5xl lg:text-6xl">Without a doubt, the best looking interface</h2>
      <p class="text-desc text-left">When it comes to aesthetics and design, Sirius doesn't mess around. Each element of Sirius' design is considered down to the smallest detail and shortest second of animation.</p>
    </div>
    <div class="hidden lg:block">
      <img alt="gallery" id="DetectionEngineImg" class="gallery absolute top-1/2 left-1/2 block h-[22.5%] w-auto translate-x-full -translate-y-1/2 rounded-lg object-cover object-center opacity-0 hover:z-50" src="/assets/images/png/interface/DetectionEngine.png" />
      <img alt="gallery" id="MusicImg" class="gallery absolute top-1/2 left-1/2 block h-auto w-[22.5%] translate-x-full -translate-y-1/2 rounded-lg object-cover object-center opacity-0 hover:z-50" src="/assets/images/png/interface/Music.png" />
      <img alt="gallery" id="ServerImg" class="gallery absolute top-1/2 left-1/2 block h-auto w-[22.5%] translate-x-full -translate-y-1/2 rounded-lg object-cover object-center opacity-0 hover:z-50" src="/assets/images/png/interface/Server.png" />
      <img alt="gallery" id="ModDetectionImg" class="gallery absolute top-1/2 left-1/2 block h-[22.5%] w-auto translate-x-full -translate-y-1/2 rounded-lg object-cover object-center opacity-0 hover:z-50" src="/assets/images/png/interface/ModDetection.png" />
      <img alt="gallery" id="SmartBarImg" class="gallery absolute top-1/2 left-1/2 block h-auto w-[22.5%] translate-x-full -translate-y-1/2 rounded-lg object-cover object-center opacity-0 hover:z-50" src="/assets/images/png/interface/SmartBar.png" />
    </div>
    <!-- Mobile -->
    <div class="relative h-full overflow-hidden lg:hidden">
      <img alt="gallery" class="absolute h-auto w-48 rounded-lg object-contain object-center" src="/assets/images/png/interface/Music.png" />
      <img alt="gallery" class="absolute h-48 w-auto translate-x-16 translate-y-16 rounded-lg object-contain object-center" src="/assets/images/png/interface/Server.png" />
      <img alt="gallery" class="absolute h-24 w-auto translate-y-44 translate-x-8 rounded-lg object-contain object-center" src="/assets/images/png/interface/ModDetection.png" />
    </div>
  </div>
</section>
