<section id="interfaceSection" class="h-screen overflow-hidden">
  <div class="mx-auto mt-28 flex h-full flex-col px-5 lg:flex-row lg:px-32 lg:pt-24">
    <div class="flex flex-col items-start justify-center py-4 lg:max-w-md">
      <h2 class="mb-4 text-left text-3xl font-semibold text-white md:text-5xl lg:text-6xl">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p class="text-desc text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, autem dolores. Suscipit ab optio magnam dolore, totam tempora aliquid distinctio voluptatum maxime deserunt nisi.</p>
    </div>
    <div class="hidden lg:block">
      <img alt="gallery" id="DetectionEngineImg" class="gallery absolute left-1/2 top-1/2 block h-[22.5%] w-auto -translate-y-1/2 translate-x-full rounded-lg object-cover object-center opacity-0 hover:z-50" src="https://placehold.co/920x472" />
      <img alt="gallery" id="MusicImg" class="gallery absolute left-1/2 top-1/2 block h-auto w-[22.5%] -translate-y-1/2 translate-x-full rounded-lg object-cover object-center opacity-0 hover:z-50" src="https://placehold.co/604x762" />
      <img alt="gallery" id="ServerImg" class="gallery absolute left-1/2 top-1/2 block h-auto w-[22.5%] -translate-y-1/2 translate-x-full rounded-lg object-cover object-center opacity-0 hover:z-50" src="https://placehold.co/844x570" />
      <img alt="gallery" id="ModDetectionImg" class="gallery absolute left-1/2 top-1/2 block h-[22.5%] w-auto -translate-y-1/2 translate-x-full rounded-lg object-cover object-center opacity-0 hover:z-50" src="https://placehold.co/600x372" />
      <img alt="gallery" id="SmartBarImg" class="gallery absolute left-1/2 top-1/2 block h-auto w-[22.5%] -translate-y-1/2 translate-x-full rounded-lg object-cover object-center opacity-0 hover:z-50" src="https://placehold.co/1166x144" />
    </div>
    <!-- Mobile -->
    <div class="relative h-full overflow-hidden lg:hidden">
      <img alt="gallery" class="absolute h-auto w-48 rounded-lg object-contain object-center" src="https://placehold.co/604x762" />
      <img alt="gallery" class="absolute h-48 w-auto translate-x-16 translate-y-16 rounded-lg object-contain object-center" src="https://placehold.co/844x570" />
      <img alt="gallery" class="absolute h-24 w-auto translate-x-8 translate-y-44 rounded-lg object-contain object-center" src="https://placehold.co/600x372" />
    </div>
  </div>
</section>
