---
import logo from "/assets/images/svg/logo.svg?url";
---

<nav id="navBar" class="fixed top-0 left-0 z-50 h-14 w-full -translate-y-full opacity-0 saturate-[180%] backdrop-blur-[20px] transition-all duration-700 ease-in-out">
  <div class="mx-auto flex h-full w-full max-w-screen-xl flex-wrap items-center justify-between px-4">
    <a href="/" class="flex cursor-default items-center opacity-0 duration-700 ease-in-out">
      <img src={logo} class="mr-3 h-6 sm:h-8" alt="Sirius Logo" />
    </a>
    <div class="flex items-center gap-4 text-xs [line-height:1.33337] lg:order-2">
      <div class="links flex items-center gap-1 opacity-0 duration-700 ease-in-out">
        <a href="https://blog.sirius.menu/" target="_blank" class="font-light text-white opacity-80 hover:text-[#147ce5] hover:opacity-100">Newsroom</a>
      </div>
      <div class="links flex items-center gap-1 opacity-0 duration-700 ease-in-out">
        <a href="https://rayfield.dev/" target="_blank" class="font-light text-white opacity-80 hover:text-[#147ce5] hover:opacity-100">Rayfield</a>
      </div>
      <div class="links flex items-center gap-1 opacity-0 duration-700 ease-in-out">
        <a href="https://discord.sirius.menu/" target="_blank" class="font-light text-white opacity-80 hover:text-[#147ce5] hover:opacity-100">Discord</a>
      </div>

      <button id="navBarBuyButton" class="inline-block min-w-[23px] cursor-pointer whitespace-nowrap rounded-xl border-0 bg-[#0071e3] px-[11px] py-1 text-center font-normal text-white opacity-0 outline-0 transition-all duration-500 [letter-spacing:-0.01em] hover:bg-[#147ce5]">Buy</button>
    </div>
  </div>
  <div id="navBarbanner" class="hidden w-full opacity-0 transition-all duration-500 ease-in-out">
    <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
      <div class="pr-16 text-center sm:px-16">
        <p id="bannerText" class="font-medium"></p>
      </div>
    </div>
  </div>
</nav>

<style>
  #navBar {
    background-color: #1d1d1eb3;
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
  }
</style>

<script>
  // all navbar items with .opacity-0 class excluding the banner
  const navBar = document.getElementById("navBar");
  const navBarItems = navBar.querySelectorAll(".opacity-0:not(#banner)");
  navBar.classList.remove("-translate-y-full", "opacity-0");

  // remove opacity with delay for each item
  navBarItems.forEach((item, index) => {
    setTimeout(() => {
      item.classList.remove("opacity-0");
    }, 250 * index);
    // banner after the last item
    if (index === navBarItems.length - 1) {
      // wait for the bannerdata to fetch
      setTimeout(() => {
        banner.classList.remove("opacity-0");
      }, 250 * index + 250);
    }
  });

  // Buy button, scroll to buy section
  document.getElementById("navBarBuyButton").addEventListener("click", () => {
    const buySection = document.getElementById("featureList");
    buySection.scrollIntoView({ behavior: "smooth" });
  });

  // get the banner data
  let bannerData;
  const banner = document.getElementById("navBarbanner") as HTMLDivElement;
  const bannerText = document.getElementById("bannerText") as HTMLParagraphElement;

  async function getBannerData() {
    await fetch("https://raw.githubusercontent.com/shlexware/SiriusDependencies/main/banner.json")
      .then((response) => response.json())
      .then((data) => {
        bannerData = data;
      });
    bannerText.innerHTML = bannerData.text;
    bannerText.style.color = bannerData.txtcolor;
    banner.style.backgroundColor = bannerData.bgcolor;
    if (bannerData.show === true) {
      banner.classList.remove("hidden");
      // hide the banner on click
      banner.addEventListener("click", () => {
        navBar.classList.add("-translate-y-full", "opacity-0");
        setTimeout(() => {
          banner.classList.add("hidden");
        }, 500);
      });
    }
  }
  getBannerData();
</script>
