---
import logo from "/assets/images/svg/logo.svg?url";
---

<nav id="navBar" class="opacity-0 duration-1000 delay-[1s] transition-all ease-in-out -translate-y-full px-4 top-0 left-0 w-full h-14 z-50 fixed bg-[#1d1d1fb8] saturate-[180%] backdrop-blur-[5px] shadow-[0_1px_0_0_#ffffff3d]">
  <div id="logo" class="w-full h-full flex flex-wrap duration-1000 justify-between items-center mx-auto max-w-screen-xl opacity-0 ease-in-outmdelay-200">
    <a href="/" class="cursor-default flex items-center">
      <img src={logo} class="mr-3 h-6 sm:h-9" alt="Sirius Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Sirius</span>
    </a>
    <div class="flex items-center lg:order-2 text-xs [line-height:1.33337] gap-4">
      <div id="link1" class="flex items-center gap-1 opacity-0 duration-1000 delay-500 ease-in-out">
        <a href="https://discord.gg/sirius" target="_blank" class="text-white inline-block [line-height:22px] whitespace-nowrap hover:text-[#2997ff]">Discord</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="none" class="text-white inline-block [line-height:22px] whitespace-nowrap opacity-[0.88]" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="sc-ezWOiH dRuuKk"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
      </div>
      <button id="button1" class="opacity-0 delay-1000 duration-1000 ease-in-out cursor-pointer inline-block text-center whitespace-nowrap bg-[#6e6e73] text-white border-0 outline-0 font-normal [letter-spacing:-0.01em] min-w-[23px] px-[11px] py-1 rounded-xl">Get Script</button>
    </div>
    <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2"></div>
  </div>
</nav>

<script>
  // intersection observer for navbar when it's fully visible on the screen, then remove the opacity classes

  const navBar = document.getElementById("navBar");
  const logo = document.getElementById("logo");
  const link1 = document.getElementById("link1");
  const button1 = document.getElementById("button1");

  const options = {
    root: null,
    rootMargin: "1px",
    threshold: 1,
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        navBar.classList.remove("opacity-0");
        logo.classList.remove("opacity-0");
        link1.classList.remove("opacity-0");
        button1.classList.remove("opacity-0");
      }
    });
  }, options);

  observer.observe(navBar);
</script>
