---
import logo from "../assets/images/svg/logo.svg?url";
---

<nav class="top-0 left-0 w-full h-14 z-50 sticky transition-[background-color_0.5s_cubic-bezier(0.28,0.11,0.32,1)_0s] bg-[##1d1d1fb8] saturate-[180%] backdrop-blur-[5px] shadow-[0_1px_0_0_#ffffff3d]">
  <div class="w-full h-full flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <a href="/" class="cursor-default flex items-center">
      <img src={logo} class="mr-3 h-6 sm:h-9" alt="Sirius Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Sirius</span>
    </a>
    <div class="flex items-center lg:order-2 text-xs [line-height:1.33337] gap-4">
      <div class="flex items-center gap-1">
        <a href="https://discord.gg/sirius" target="_blank" class="text-white inline-block [line-height:22px] whitespace-nowrap hover:text-[#2997ff]">Discord</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="none" class="text-white inline-block [line-height:22px] whitespace-nowrap opacity-[0.88]" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="sc-ezWOiH dRuuKk"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
      </div>
      <a href="#"><button class="cursor-pointer inline-block text-center whitespace-nowrap bg-[#6e6e73] text-white border-0 outline-0 font-normal [letter-spacing:-0.01em] min-w-[23px] px-[11px] py-1 rounded-xl">Get Script</button></a>
    </div>
    <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
      <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
        <li>
          <p class="block py-2 pr-4 pl-3 text-white rounded bg-red-700 lg:bg-transparent lg:text-red-700 lg:p-0 dark:text-white" aria-current="page">Please note that this website is far from finished and many things may not work (correctly)</p>
        </li>
        <!-- <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Company</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Marketplace</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Features</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Team</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
