---
import logo from "/assets/images/svg/logo.svg?url";
---

<nav id="navBar" class="opacity-0 -translate-y-full duration-700 transition-all ease-in-out px-4 top-0 left-0 w-full h-14 z-50 fixed bg-[rgba(15,15,15,0.9)] saturate-[180%] backdrop-blur-[10px] shadow-[0_1px_0_0_#ffffff3d]">
  <div class="w-full h-full flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <a id="logo" href="/" class="cursor-default flex items-center duration-700 opacity-0 ease-in-out">
      <img src={logo} class="mr-3 h-6 sm:h-8" alt="Sirius Logo" />
    </a>
    <div class="flex items-center lg:order-2 text-xs [line-height:1.33337] gap-4">
      <div id="link1" class="flex items-center gap-1 opacity-0 duration-700 ease-in-out">
        <a href="https://discord.gg/sirius" target="_blank" class="text-white hover:text-[#2997ff]">
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="inline-block whitespace-nowrap h-4 w-4"><path d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"></path></svg>
        </a>
      </div>
      <button id="button1" class="inline-flex items-center justify-center overflow-hidden text-sm group bg-gradient-to-br from-red-500 to-blue-500 group-hover:from-red-500 p-[1px] group-hover:to-blue-500 hover:text-white text-white focus:ring-4 focus:outline-none focus:ring-purple-800 rounded-full duration-700 opacity-0">
        <span class="relative px-4 py-0.5 rounded-full transition-all ease-in-out bg-[rgba(15,15,15)] group-hover:bg-opacity-0 duration-700"> Get Started</span>
      </button>
    </div>
    <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2"></div>
  </div>
</nav>

<script>
  // intersection observer for navbar when it's fully visible on the screen, then remove the opacity classes

  const navBar = document.getElementById("navBar");
  const logo = document.getElementById("logo");
  const link1 = document.getElementById("link1");
  const button1 = document.getElementById("button1");

  const options = {
    root: null,
    rootMargin: "1px",
    threshold: 1,
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        navBar.classList.remove("opacity-0");
        logo.classList.remove("opacity-0");
        setTimeout(() => {
          link1.classList.remove("opacity-0");
        }, 200);
        setTimeout(() => {
          button1.classList.remove("opacity-0");
        }, 500);
      }
    });
    setTimeout(() => {
      // observer.unobserve(navBar);
      navBar.classList.remove("transition-all");
    }, 2000);
  }, options);

  observer.observe(navBar);
</script>
