---
import logo from "/assets/images/svg/logo.svg?url";
---

<nav id="navBar" class="opacity-0 -translate-y-full duration-700 transition-all ease-in-out px-4 top-0 left-0 w-full h-14 z-50 fixed bg-[rgba(15,15,15,0.9)] saturate-[180%] backdrop-blur-[10px] shadow-[0_1px_0_0_#ffffff3d]">
  <div class="w-full h-full flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <a id="logo" href="/" class="cursor-default flex items-center duration-700 opacity-0 ease-in-out">
      <img src={logo} class="mr-3 h-6 sm:h-8" alt="Sirius Logo" />
    </a>
    <div class="flex items-center lg:order-2 text-xs [line-height:1.33337] gap-4">
      <div id="link1" class="flex items-center gap-1 opacity-0 duration-700 ease-in-out">
        <a href="https://discord.gg/sirius" target="_blank" class="text-white hover:text-[#147ce5] font-light opacity-80 hover:opacity-100"> Rayfield</a>
      </div>
      <div id="link2" class="flex items-center gap-1 opacity-0 duration-700 ease-in-out">
        <a href="https://discord.gg/sirius" target="_blank" class="text-white hover:text-[#147ce5] font-light opacity-80 hover:opacity-100"> Discord</a>
      </div>

      <button id="button1" class="transition-all duration-500 opacity-0 cursor-pointer inline-block text-center whitespace-nowrap bg-[#0071e3] text-white border-0 outline-0 font-normal [letter-spacing:-0.01em] min-w-[23px] hover:bg-[#147ce5] px-[11px] py-1 rounded-xl">Buy</button>
    </div>
  </div>

  <script>
    // intersection observer for navbar when it's fully visible on the screen, then remove the opacity classes

    const navBar = document.getElementById("navBar");
    const logo = document.getElementById("logo");
    const link1 = document.getElementById("link1");
    const link2 = document.getElementById("link2");
    const button1 = document.getElementById("button1");

    const options = {
      root: null,
      rootMargin: "1px",
      threshold: 1,
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navBar.classList.remove("opacity-0");
          logo.classList.remove("opacity-0");
          setTimeout(() => {
            link1.classList.remove("opacity-0");
          }, 200);
          setTimeout(() => {
            link2.classList.remove("opacity-0");
          }, 500);
          setTimeout(() => {
            button1.classList.remove("opacity-0");
          }, 800);
        }
      });
      setTimeout(() => {
        // observer.unobserve(navBar);
        navBar.classList.remove("transition-all");
      }, 2000);
    }, options);

    observer.observe(navBar);
  </script>
</nav>
