---
---

<section id="peaceSection" class="flex w-screen flex-row justify-end overflow-hidden md:my-48 md:mb-96">
  <div class="max-w-2xl px-4 py-10 text-right sm:px-6 sm:py-20 lg:mr-44 lg:max-w-4xl lg:px-8">
    <h2 class="mt-4 text-4xl font-bold tracking-tight text-white sm:text-6xl">Lorem ipsum.</h2>
    <p class="text-desc mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam vel, tempora mollitia harum tempore voluptates corporis quia aperiam voluptatum et placeat error temporibus illum praesentium velit porro! Magnam, consequatur laborum. Explicabo sunt distinctio nemo, blanditiis dolor nobis iusto quam recusandae. Perspiciatis veniam omnis nobis sapiente officia accusantium quaerat error, magnam sint.</p>
  </div>
</section>
