---
---

<section id="peaceSection" class="flex w-screen flex-row justify-end overflow-hidden md:my-48 md:mb-96">
  <div class="max-w-2xl py-10 px-4 text-right sm:py-20 sm:px-6 lg:mr-44 lg:max-w-4xl lg:px-8">
    <h2 class="mt-4 text-4xl font-bold tracking-tight text-white sm:text-6xl">Peace of mind.</h2>
    <p class="text-desc mt-4">Sirius also offers several features to improve your experience. It can prevent interruptions due to inactivity and stop client-based kicks from occuring. It also automatically adjusts FPS when you switch between programs and notifies you of high latency or low FPS, while also taking automatic action to combat the low frame times. These features can enhance your overall experience and make it smoother and more enjoyable.</p>
  </div>
</section>
