<section id="scriptSearchSection" class="grid h-screen grid-cols-1 grid-rows-1 overflow-hidden lg:h-[120vh]">
  <div class="grid items-start justify-center">
    <div id="scriptSearchSectionTextFront" class="z-20 col-start-1 col-end-auto row-start-1 row-end-auto flex h-screen items-center justify-center text-white">
      <p class="m-auto text-4xl font-semibold tracking-tight text-white sm:text-3xl md:text-5xl lg:text-4xl xl:text-6xl 2xl:text-9xl">Need a script in a pinch?</p>
    </div>
    <div id="scriptSearchSectionContainer" class="z-10 col-start-1 col-end-auto row-start-1 row-end-auto overflow-hidden">
      <div class="block justify-center bg-none">
        <video class="aspect-video" src="/assets/videos/ScriptSearch.mp4" muted playsinline loop></video>
      </div>
    </div>
    <div id="scriptSearchSectionTextBehind" class="z-0 col-start-1 col-end-auto row-start-1 row-end-auto flex h-screen flex-col items-start justify-start px-4 text-white lg:px-52">
      <p class="pt-32 text-4xl font-semibold tracking-tight text-white sm:text-3xl md:text-5xl lg:text-4xl xl:text-6xl 2xl:text-9xl">
        Huge library of scripts
        <br />
        via ScriptSearch.
      </p>
    </div>
  </div>
</section>
