---
import Pill from "../components/Pill.astro";
import Notification from "./Notification.astro";
---

<section id="notificationSection" class="relative flex h-[110vh] w-screen flex-col items-center overflow-hidden lg:h-screen 2xl:flex-row">
  <div class="flex max-w-2xl flex-col px-4 text-left sm:px-6 sm:py-20 lg:max-w-7xl lg:!pl-32">
    <div class="m-0 flex flex-initial flex-row justify-start border-0 p-0 align-baseline">
      <Pill text="Ipsum" />
    </div>
    <h2 class="mt-4 text-4xl font-bold tracking-tight text-white sm:text-6xl">Black by design</h2>
    <p class="text-desc mx-auto mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum similique nemo, inventore unde ipsum quasi quibusdam ab sunt veritatis repudiandae non, impedit error minima.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic et maiores quibusdam, aspernatur in suscipit assumenda! Expedita incidunt, laudantium eos ab cupiditate vero quia.
    </p>
  </div>
  <div class="flex w-full flex-col items-center justify-center gap-4 pt-6 lg:block lg:gap-0 lg:pt-0">
    <Notification id="soundNotif" logo="sound" title="Sound Mute" description="A high pitched audio is being detected (Neutron Star) and it has been muted" />
    <Notification id="spamNotif" logo="spam" title="Spam Detection" description="We've automatically muted @You for spamming the chat system, you will be unmuted in 90 seconds" />
    <Notification id="modNotif" logo="moderator" title="Moderator Detection" description="We've identified a moderator in the universe you're in, see the prompt at the top of your screen to take action" />
  </div>
</section>
