---
---

<section id="hero" class="relative h-screen w-full overflow-hidden">
  <div class="h-full flex flex-col items-center relative justify-center z-10">
    <h1 id="title" class="font-bold text-white text-8xl duration-1000 scale-150 delay-500 transition-all ease-in-out opacity-0">Sirius</h1>
    <p id="titleP" class="!font-sfdisplay text-2xl text-white duration-1000 scale-150 transition-all ease-in-out opacity-0 delay-700">Bleeding. Edge.</p>
  </div>
  <div class="w-full z-40 justify-center flex bottom-10 left-1/2 transform -translate-x-1/2 absolute">
    <button id="downButton" onclick="scrollToMain();" type="button" class="transition-all opacity-0 ease-in-out duration-1000 delay-1000 scale-150 animate-bounce text-white font-medium rounded-full text-sm p-2.5 text-center items-center border-4 border-opacity-0 hover:border-opacity-50 border-white hover:text-opacity-50">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="text-white w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
      </svg>
    </button>
  </div>

  <!-- blurred frosted blob 1 purple/blue-->
  <div class="blobsIntro overflow-hidden absolute transform -translate-x-1/2 rounded-full scale-150 opacity-0 saturate-200 transition-all duration-1000 ease-in-out -translate-y-1/2 top-[50%] left-[50%] w-[700px] h-[700px] bg-[radial-gradient(circle_at_50%_50%,_#444bf7,_#444bf74d)] blur-[80px]"></div>

  <!-- blurred frosted blob 2 red-->
  <div class="blobsIntro overflow-hidden absolute transform translate-x-1/2 rounded-full scale-150 delay-200 opacity-0 saturate-200 transition-all duration-1000 ease-in-out translate-y-1/2 bottom-[40%] right-[40%] w-[600px] h-[600px] bg-[radial-gradient(circle_at_50%_50%,_#f74444,_#f744444d)] blur-[80px]"></div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

    if ("IntersectionObserver" in window) {
      var lazyVideoObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (video: any) {
          if (video.isIntersecting) {
            for (var source in video.target.children) {
              var videoSource = video.target.children[source] as HTMLSourceElement;
              if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
                videoSource.src = videoSource.dataset.src;
              }
            }

            video.target.load();
            video.target.classList.remove("lazy");
            lazyVideoObserver.unobserve(video.target);
          }
        });
      });

      lazyVideos.forEach(function (lazyVideo) {
        lazyVideoObserver.observe(lazyVideo);
      });
    }
  });

  // remove the opacity class after domcontentloaded
  window.addEventListener("DOMContentLoaded", () => {
    const title = document.getElementById("title");
    const titleP = document.getElementById("titleP");
    const downButton = document.getElementById("downButton");
    const navBar = document.getElementById("navBar");
    title.classList.remove("opacity-0", "scale-150");
    titleP.classList.remove("opacity-0", "scale-150");
    titleP.classList.add("opacity-70", "scale-150");
    downButton.classList.remove("opacity-0", "scale-150");
    navBar.classList.remove("-translate-y-full", "opacity-0");

    const blobsIntro = document.querySelectorAll(".blobsIntro");
    blobsIntro.forEach((blob) => {
      blob.classList.remove("opacity-0", "scale-150");
    });

    setTimeout(() => {
      blobsIntro[0].classList.add("animate-pulse-subtle");
      blobsIntro[1].classList.add("animate-pulse-subtle-delayed");

      downButton.classList.remove("delay-1000", "duration-1000");
      downButton.classList.add("duration-500");
    }, 1000);

    // remove the transition class
    setTimeout(() => {
      navBar.classList.remove("duration-1000", "delay-[2s]", "transition-all", "ease-in-out");
      navBar.classList.add("transition-[background-color_0.5s_cubic-bezier(0.28,0.11,0.32,1)_0s]");
    }, 1500);
  });
</script>

<script is:inline>
  function scrollToMain() {
    const mainScroll = document.getElementById("mainscroll");
    mainScroll.scrollIntoView({ behavior: "smooth" });
  }
</script>
