---
import siriusthumbnail from "/assets/images/png/sirius.png?url";
---

<section id="mainscroll" class="relative z-0 h-full w-full [transition:_500ms_filter_ease-in-out] blur-xl hidden overflow-y-visible">
  <div id="main" class="transition-all h-screen bg-no-repeat blur-xl opacity-0 bg-cover relative z-20">
    <div class="flex justify-center items-center w-full h-full">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <section class="flex flex-col lg:flex-row justify-between gap-6 sm:gap-10 md:gap-16">
          <!-- content - start -->
          <div class="xl:w-5/12 flex flex-col justify-center sm:text-center lg:text-left lg:py-12 xl:py-24">
            <div class="flex gap-1 mb-4 md:mb-6 text-gray-400 md:text-lg xl:text-xl font-semibold">
              <p class="text-gray-400 md:text-lg xl:text-xl font-semibold inline-flex">Very proud to introduce</p>
              <div class="inline-flex items-center gap-1">
                <svg version="1.1" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve">
                  <path d="M19.1,1.65s0,0,0,0l-.27,.67-.6,1.47h0s-1.09,2.92-1.09,2.92c-.43-.06-.87-.09-1.32-.09-.97,0-1.95,.15-2.91,.46-1.6,.52-2.83,1.62-3.34,3.01l-2.69,7.2c-2.79-.39-5.26-1.99-6.33-4.4-.36-.81-.54-1.65-.54-2.47C0,7.6,2.01,4.96,5.28,3.9L16.97,.11h.04s.01-.02,.02-.02c1.19-.38,2.37,.54,2.07,1.57h0Z" fill="currentColor"></path>
                  <path d="M4.9,22.35s0,0,0,0l.27-.67,.6-1.47h0s1.09-2.92,1.09-2.92c.43,.06,.87,.09,1.32,.09,.97,0,1.95-.15,2.91-.46,1.6-.52,2.83-1.62,3.34-3.01l2.69-7.2c2.79,.39,5.26,1.99,6.33,4.4,.36,.81,.54,1.65,.54,2.47,0,2.81-2.01,5.45-5.28,6.51l-11.69,3.79h-.04s-.01,.02-.02,.02c-1.19,.38-2.37-.54-2.07-1.57h0Z" fill="currentColor"></path>
                </svg>

                <span>Sirius</span>
              </div>
            </div>

            <h1 id="h1Main" class="text-white transition-all duration-1000 font-bold text-3xl sm:text-5xl md:text-6xl mb-8 md:mb-12 delay-300">A <span id="revolutionary" class="text-slate-500 transition-all duration-1000 block delay-300 text-sm scale-0">revolutionary</span> way to use scripts</h1>

            <p class="lg:w-4/5 text-gray-300 xl:text-lg leading-relaxed">Sirius has yet to provide a release date. However, users are now being offered a <span class="font-bold text-slate-500">glimpse into the future of exploiting</span>. Until Sirius is fully released, those with Sirius Professional will have access to <span class="font-bold text-slate-500">rich features</span> for a handful of games.</p>
            <hr class="my-8 h-1 rounded border-0 bg-gray-700" />

            <div class="flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-2.5">
              <button onclick="document.getElementById('paymentButtons').scrollIntoView({behavior: 'smooth'});" type="button" class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 group max-sm:w-full">
                Buy now
                <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5 group-hover:translate-x-1 transition-all duration-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
              </button>
              <button onclick="document.getElementById('featureList').scrollIntoView({behavior: 'smooth'});" type="button" class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center group max-sm:w-full">
                Choose plan
                <svg class="ml-2 -mr-1 stroke-white stroke-2" fill="none" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" class="opacity-0 transition duration-500 group-hover:opacity-100" d="M0 5h7"></path>
                  <path stroke-linecap="round" stroke-linejoin="round" class="transition duration-500 group-hover:translate-x-[3px]" d="M1 1l4 4-4 4"></path>
                </svg>
              </button>
            </div>
          </div>
          <!-- content - end -->

          <!-- image - start -->
          <div class="xl:w-5/12 h-48 lg:h-auto shadow-lg rounded-lg">
            <!-- video with multiple sources -->
            <video id="siriusShow" autoplay loop muted playsinline class="lazy w-full h-full rounded-lg object-cover">
              <source data-src="/assets/videos/SiriusShow.webm" type="video/webm" />
              <source data-src="/assets/videos/SiriusShow.mp4" type="video/mp4" />
            </video>

            <!-- small caption -->
            <p class="text-gray-600 text-sm font-medium text-center">Showcasing Sirius's fast and sleek UI!</p>
          </div>
          <!-- image - end -->
        </section>
      </div>
    </div>
  </div>
</section>
<script>
  const main = document.getElementById("main");
  const mainscroll = document.getElementById("mainscroll");
  const h1Main = document.getElementById("h1Main");
  const revolutionary = document.getElementById("revolutionary");
  const blobsMain = document.querySelectorAll(".blobsMain") as NodeListOf<HTMLElement>;
  const options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.3,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        main.classList.remove("opacity-0", "blur-xl");
        mainscroll.classList.remove("blur-xl");
        revolutionary.classList.add("-skew-x-12", "text-white", "!text-4xl", "sm:!text-6xl", "md:!text-7xl");
        revolutionary.classList.remove("scale-0");
        blobsMain.forEach((blob) => {
          blob.classList.remove("opacity-0", "scale-150");
        });
        setTimeout(() => {
          h1Main.classList.add("text-slate-500");
          revolutionary.classList.remove("text-slate-500", "text-sm");
        }, 1000);
      }
    });
  }, options);
  observer.observe(main);
</script>
